{% extends "bootstrap/base.html" %}

{% block title %}Quote查询{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pkq.ico') }}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='pkq.ico')}}">
    <style type="text/css">
        .center {
            width: auto;
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script>
        $(function(){
            quotename = $('a');
            quotename.on('click', function(e) { submitQuote(e.target.text);});
        });
    </script>
{% endblock %}

{% block content %}

    <div class="container-fluid" style="background-color: #F8F8F8;">
        <h1 class="text-center">Quote查询</h1>
        <div class="row">
            <div class="center">
                <form class="navbar-form" id="quote-form" action="/api/results" method="get" onsubmit="return true" target="_blank">
                    <div class="form-group">
                        <input type="text" class="form-control" id="quote" name="lookup" placeholder="输入quote代码">
                    </div>
                    <button type="button" class="btn btn-default" onclick="submitQuote()">查询</button>
                </form>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-pills center">
                <li class="disabled"><a><strong>最多查询：</strong></a></li>
                {% for lookup in lookups%}
                <li><a href="#0">{{ lookup.symbol }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #F5FFFA;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-hover">
                    <tr id="results">
                        <th>日期</th>
                        <th>开盘价</th>
                        <th>最高价</th>
                        <th>最低价</th>
                        <th>收盘价</th>
                        <th>修正收盘价*</th>
                        <th>成交量</th>
                    </tr>
                </table>
                <p id="errors"></p>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function submitQuote(quotename='') {
            var quote = $('#quote');
            if (quotename){
                quote.val(quotename)
            }
            $.ajax('/api/results?lookup=' + quote.val(), {
                type: "GET",
                dataType: "json",
                success: function(data){
                    // location.assign('/')
                    // alert(data.timestamp.length)
                    var tr = $('#results');
                    var errors = $('#errors');
                    $('tr[id!=results]').remove();
                    if (data.error) {
                        errors.html('<div class="alert alert-danger text-center" role="alert">' + data.message + '</div>');
                    }
                    else {
                        errors.html('')
                        data = data.results;
                        for (var i=0; i<data.timestamp.length; i++) {
                            date = new Date(data.timestamp[i] * 1000);

                            if (data.open[i]) { open = data.open[i].toFixed(2);} else { open = '&nbsp;-';}
                            if (data.high[i]) { high = data.high[i].toFixed(2);} else { high = '&nbsp;-';}
                            if (data.low[i]) { low = data.low[i].toFixed(2);} else { low = '&nbsp;-';}
                            if (data.close[i]) { close = data.close[i].toFixed(2);} else { close = '&nbsp;-';}
                            if (data.volume[i]) { volume = data.volume[i].toFixed(2);} else { volume = '&nbsp;-';}

                            tr.after('<tr><td>' + date.toLocaleDateString()  +
                                        '</td><td>' + open  +
                                        '</td><td>' + high +
                                        '</td><td>' + low +
                                        '</td><td>' + close +
                                        '</td><td>' + close +
                                        '</td><td>' + volume + '</td></tr>'
                            );
                        }
                    }

                }
            });
        }
    </script>
{% endblock %}